

h1 {font-size: xx-large; color: rgb(46, 23, 128);}
table { width: 1000px; background-color: #FFFFFF; color: #4e2a2a; border-color: #CCCCCC; border-collapse: collapse; }
th, td { width: 25px; font-size:xx-large }